header.masthead {
    position: relative;
    background-color: #343a40;
    background: url("../../assets/img/background-clean.jpg");
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

// section.showcase {
//     position: relative;
//     background-color: #343a40;
//     background: url("../../assets/img/background2.png");
//     background-size: cover;
//     padding-top: 8rem;
//     padding-bottom: 8rem;
// }