<header class="masthead">
    <div class="container"> 
      <div class="row">
        <div class="col-xl-12 text-center">
          
          <h1 class="mt-5">Welcome to my website!</h1>
          <p class="lead">If you have any questions, please leave me a message! </p>
          <h1 class="ml10">
              <span class="text-wrapper">
                <!-- <span class="letters">JODY</span> -->
              </span>
            </h1>
        </div>
      </div>
    </div>
  </header>
  <!-- <section class="showcase">
      <div class="container-fluid p-0">
        <div class="row no-gutters">
    
          <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('assets/img/background2.png');"></div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <h2>Want to know more about me?</h2>
            <p class="lead mb-0">Go to the about page and found out more!</p>
          </div>
        </div>
        </div>
    </section> -->
<div class="container">
    <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
          <h1>Navbar examples</h1>
          <p>This example is a quick exercise to illustrate how the navbar and its contents work. Some navbars extend the width of the viewport, others are confined within a <code>.container</code>. For positioning of navbars, checkout the <a href="../navbar-static/">top</a> and <a href="../navbar-fixed/">fixed top</a> examples.</p>
          <p>At the smallest breakpoint, the collapse plugin is used to hide the links and show a menu button to toggle the collapsed content.</p>
          <p>
            <a class="btn btn-primary" href="../../components/navbar/" role="button">View navbar docs »</a>
          </p>
        </div>
      </div>
      </div>